<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Bubble Blog</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <!-- Add jQuery (required for Bootstrap) -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  
  <!-- Add Bootstrap JS (required for modal and other JavaScript components) -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-left align-center p-2 flex-column">
      <h1>
        <span role="img" aria-label="puzzle">🧩</span>
        <h2>The Tech Bubble</h2>
      </h1>
    </header>
      <div class="navbar navbar-expand-lg bg-light justify-start pl-5">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" href="/"> Home </a>
        </li>
        {{#if logged_in}}
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="logout">Logout</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link"href="/login">login</a>
        </li>
        {{/if}}
      </ul>
      </div>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
