<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Blow up a Bubble!</h3>

    <form class="form new-bubble-form">
      <div class="form-group">
        <label for="bubble-title">Title:</label>
        <input class="form-control" type="text" id="bubble-title" name="bubble-title" />
      </div>
      <div class="form-group">
        <label for="bubble-content">Content:</label>
        <textarea class="form-control" id="bubble-content" name="bubble-content"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if bubbles.length}}
  <div class="col-md-6 bubble-list">
    <h3>Current Posts:</h3>

    {{#each bubbles as |bubble|}}
    <div class="row mb-2">
      <div class="col-md-8">
       <h4><a href="/bubble/{{bubble.id}}">{{bubble.title}}</a></h4>
      </div>
      <div class="col-md-4">
       <!-- DELETE button with data-id -->
       <button class="btn btn-sm btn-danger" data-id="{{bubble.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>